body {
  margin: 0;
}

.wrapper {
  width: 100%;
}

.header {
  margin-top: 25px;
  margin-bottom: 157px;
  display: flex;
  justify-content: start;
  align-content: center;
}

.logo {
  margin-left: 40px;
  width: 166px;
  height: 51px;
  background-image: url(img/Logo.svg);
  margin-right: 261px;
}

.menu-models {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.menu-models__item1 {
  margin-right: 68px;
}

.menu-models__item2 {
  margin-right: 23px;
}

.menu-models__item3 {
  margin-right: 44px;
}

.menu-models__item4 {
  margin-right: 47px;
}

.menu-models__item5 {
  margin-right: 223px;
}


.menu-models__item {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 18px;
  padding-top: 18px;
  text-decoration: none;
  color: #000;
}

.menu-models__item_active::after{
  display: block;
  position: relative;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E51937;
}

.menu-models__item_active {
  color: #E51937;
}

.menu-models__item:hover::after {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E51937;
}

.menu-models__item:hover {
  color: #E51937;
}

.menu-shop {
  display: flex;
  justify-content: space-between;
}

.menu-shop__item {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  margin-right: 36px;
  padding-top: 20px;
  text-decoration: none;
  color: #000;
}

.menu-shop__item:hover::after {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E51937;
}

.menu-shop__item:hover {
  color: #E51937;
}

.menu-shop__mobile {
  margin-right: 20px;
  margin-top: 26px;
  position: relative;
  display: block;
  content: "";
  width: 24px;
  height: 3px;
  background-color: #E51937;
  cursor: pointer;
}

.menu-shop__mobile::after {
  position: relative;
  display: block;
  content: "";
  width: 24px;
  height: 3px;
  background-color: #E51937;
  transform: translateY(4px);
}

.menu-shop__mobile::before {
  position: relative;
  display: block;
  content: "";
  width: 24px;
  height: 3px;
  background-color: #E51937;
    transform: translateY(-7px);
}

.main {
  width: 100%;
  height: 565px;
  background-image: url(img/teslatxt.svg);
  background-position: top, center;
  background-repeat: no-repeat;
  margin-bottom: 102px;
  background-position-x: 0px;
  background-position-y: -99px;
}

.main__title {
  position: absolute;
  left: 543px;
  top: 133px;
  width: 370px;
  height: 110px;
  display: block;
  background-image: url(img/ModelS12.svg);
  background-repeat: no-repeat;
}

.main__text {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 500;
  font-size: 17px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 26px;
}

.main__img {
  position: relative;
  width: 970px;
  height: 450px;
  margin-left: 14%;
  margin-bottom: 23px;
}

.main__info {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 34px;

}

.main__arrow {
  padding: 10px;
  display: block;
  width: 28px;
  height: 14px;
  background-image: url(img/Vector.svg);
  background-repeat: no-repeat;
  margin-left: 703px;
}

/*.main__arrow::before {
  position: relative;
  content: "";
  transform: rotate(90deg);
  margin: auto;
  width: 28px;
  height: 2px;
  display: block;
  border-radius: 3px;
  top: -14px;
  left: 13px;
  background-color: #E51937;
}*/

.main__info_speed {
  margin-right: 5%;
  display: inline-block;
  width: 380px;
  height: 58px;
  background-image: url(img/speed_km.svg);
  background-repeat: no-repeat;
  margin-right: 100px;
}

.main__info_button {
  display: block;
  width: 160px;
  height: 40px;
  border: 2px solid #E51937;
  text-align: center;
  text-decoration: none;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  line-height: 36px;
  color: #E51937;
  margin-right: 317px;
  margin-top: 10px;
}

.main__info_test {
  background-image: url(img/test_drive.svg);
  background-repeat: no-repeat;
  position: relative;
  display: block;
  width: 130px;
  height: 22px;
  content: "";
  margin-right: 32px;
  margin-top: 20px;
}

.future {
background-image: url(img/tesla_inside.svg);
background-repeat: no-repeat;
padding-left: 1000px;
margin: 0;
background-position-y: 57px;
/*margin-bottom: 120px;*/
}

.future__logo-models {
  display: block;
  position: absolute;
  width: 288px;
  height: 86px;
  background-image: url(img/ModelSfut.svg);
  background-repeat: no-repeat;
  left: 86px;
  margin-top: 80px;
}

.future__info {
  padding-top: 55px;
  margin: 0;
  background-color: #E51937;
  padding-bottom: 60px;
}

.future__info_title {
  margin-top: 0;
  width: 81%;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 600;
  font-size: 33px;
  font-style: normal;
  line-height: 31px;
  padding-left: 52px;
  margin-bottom: -4px;
}

.future__info_description {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  width: 78%;
  padding-left: 52px;
  margin-bottom: 60px;
}

.future__info_display {
  width: 187px;
  height: 65px;
  background-image: url(img/display.svg);
  background-repeat: no-repeat;
  width: 80%;
  margin-left: 52px;
  margin-bottom: 35px;
}

.future__info_wifi {
  width: 269px;
  height: 71px;
  background-image: url(img/wifi.svg);
  background-repeat: no-repeat;
  width: 80%;
  margin-left: 48px;
  margin-bottom: 25px;
}

.future__info_bag {
  width: 202px;
  height: 71px;
  background-image: url(img/bag.svg);
  background-repeat: no-repeat;
  width: 80%;
  margin-left: 52px;
  margin-bottom: 172px;
}

.future__info_more {
  margin-bottom: 63px;
  color: #FFFFFF;
  margin: auto;
  padding-left: 55px;
  margin-right: 21px;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 700;
  font-size: 11px;
  font-style: normal;
  line-height: 35px;
}

.future__info_more::before {
  position: relative;
  display: inline-block;
  content: "";
  width: 19px;
  height: 19px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  left: -7px;
  top: 7px;
}

.future__info_more::after {
  text-align: center;
  position: relative;
  display: inline-block;
  content: "i";
  border-radius: 50%;
  left: -148px;
  top: 2px;
  font-size: 18px;
}

.future__info_order {
  display: inline-block;
  width: 160px;
  height:  40px;
  border: 2px solid #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  line-height: 35px;
}

.safety {
  background-image: url(img/ModelS.svg);
  background-repeat: no-repeat;
  padding-right: 1000px;
  margin: 0;
  background-position-x: 647px;
  background-position-y: 141px;
}

.safety__info {
  margin: 0;
  padding-top: 51px;
  padding-bottom: 62px;
  background-color: #E51937;
}

.safety__info_title {
  margin-top: 0;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 600;
  font-size: 31px;
  font-style: normal;
  line-height: 36px;
  width: 73%;
  margin: auto;
  margin-bottom: 12px;
}

.safety__info_description {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 500;
  font-size: 17px;
  font-style: normal;
  line-height: 18px;
  width: 75%;
  margin: auto;
  margin-bottom: 57px;
}

.safety__info_protection-title {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 600;
  font-size: 33px;
  font-style: normal;
  line-height: 36px;
  width: 61%;
  margin-left: 57px;
  margin-bottom: 28px;
}
 .safety__info_protection-front, .safety__info_protection-side, .info__protection-side-rack, .safety__info_protection-driver, .safety__info_protection-passenger {
  position: relative;
  display: block;
  margin: auto;
  width: 75%;
}

.safety__info_protection-front {
  margin-bottom: 8px;
}

.safety__info_protection-side-rack {
 margin-left: 55px;
 margin-top: 9px;
 margin-bottom: 7px;
 font-size: 13px;
}

.safety__info_protection-driver {
  margin-bottom: 8px;
}

.protection-front__one {
  margin-left: 54px;
}

.protection-side__one {
  margin-left: 78px;
}

.protection-side-rack__one {
  margin-left: 23px;
}

.protection-driver__one {
  margin-left: 42px;
}

.fiveth__one {
  margin-left: 34px;
}

.protection-passenger__one {
  margin-left: 36px;
}

.stars {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(img/Star.svg);
  background-repeat: no-repeat;
}

.safety__info_result {
  display: block;
  margin: auto;
  width: 309px;
  height: 92px;
  background-image: url(img/five_stars.svg);
  margin-bottom: 50px;
  margin-top: 94px;
  background-repeat: no-repeat;
}

.safety__img {
  position: absolute;
  width: 1049px;
  height: 540px;
  top: 2023px;
  left: 345px;
}

.safety__img-more {
  position: absolute;
  width: 1049px;
  height: 540px;
  top: 2015px;
  left: 345px;
}

.safety__img-more_Car-crash {
  left: 598px;
  top: 218px;
  position: relative;
  width: 250px;
  height: 128px;
}

.safety__img-more_Protection-1 {
  left: 10px;
  top: 4px;
  position: relative;
  width: 193px;
  height: 285px;
}

.safety__img-more_Protection-2 {
  left: 92px;
  top: -192px;
  position: relative;
  width: 189px;
  height: 137px;
}

.safety__info_more {
  margin-bottom: 63px;
  color: #FFFFFF;
  margin: auto;
  padding-left: 48px;
  margin-right: 23px;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 700;
  font-size: 10px;
  font-style: normal;
  line-height: 35px;
}

.safety__info_more::before {
  position: relative;
  display: inline-block;
  content: "";
  width: 19px;
  height: 19px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  left: -11px;
  top: 6px;
}

.safety__info_more::after {
  text-align: center;
  position: relative;
  display: inline-block;
  content: "i";
  border-radius: 50%;
  left: -140px;
  top: 2px;
  font-size: 18px;
}

.safety__info__order {
  display: inline-block;
  width: 160px;
  height:  40px;
  border: 2px solid #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  line-height: 35px;
}

@media (max-width: 375px) {

.wrapper {
  width: 100%;
}

.header {
  margin-top: 75px;
  margin-bottom: 95px;
}

.menu-models, .menu-shop__item {
  display: none;
}
.logo {
  margin-right: 190px;
  margin-left: 0px;
  width: 140px;
  height: 32px;
  background-size: cover;
}

.menu-shop__mobile {
  top: -6px;
}

.main {
width: 100%;
height: 439px;
background-image: url(img/teslatxt.svg);
background-repeat: no-repeat;
background-size: 115%;
background-position-x: -20px;
background-position-y: 23px;
margin-bottom: 0;
}

.main__info {
  width: 100%;
}

.main__title {
  margin: 0;
  position: absolute;
  left: 90px;
  top: 157px;
  width: 201px;
  height: 61px;
  display: block;
  background-size: contain;
}

.main__text {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 500;
  font-size: 11px;
  font-style: normal;
  line-height: 18px;
  margin-left: -3px;
  margin-bottom: 46px; }

.main__img {
  width: 357px;
  height: 166px;
  margin-left: 3%;
  margin-bottom: 20px;
}

.main__info {
  display: inline-block;
  margin-bottom: 28px;
}

.main__info_speed {
  margin-right: 0px;
  margin-left: 39px;
  margin-bottom: 11px;
  width: 300px;
  height: 50px;
  background-size: contain;
}

.main__info_test {
  top: 41px;
  margin-top: -8px;
  margin-left: 32px;
}

.main__info_button {
  margin-left: 175px;
}

.main__arrow {
  margin-left: 172px;
}

.future__logo-models {
  display: none;
}

.future {
  padding-left: 0;
  background-size: 130%;
  background-repeat: no-repeat;
  padding-top: 319px;
  background-position-y: 2px;
  background-position-x: -35px;
  margin-bottom: 0;
}

.future__info {
  padding-top: 0;
  padding-bottom: 40px;
}

.future__info_title{
  width: 92%;
  padding-left: 26px;
  padding-top: 21px;
}

.future__info_description {
  width: 92%;
  padding-left: 27px;
  margin-bottom: 0;
}

.future__info_display, .future__info_wifi, .future__info_bag, .future__info_more, .future__info_order,
.safety__info_protection-title, .safety__info_protection-front, .safety__info_protection-side, .safety__info_protection-side-rack,
.safety__info_protection-driver, .safety__info_protection-passenger, .safety__info_result, .safety__info_more, .safety__info__order {
  display: none;
}

.safety {
  background-size: 30%;
  padding-top: 294px;
  padding-right: 0;
}

.safety__info {
  padding-top: 0;
  padding-bottom: 17px;
}

.safety__info_title {
  width: 92%;
  padding-left: 31px;
  padding-top: 18px;
}

.safety__info_description {
  width: 92%;
  padding-left: 30px;
  font-size: 18px;
}

.safety__img {
  width: 362px;
  height: 186px;
  left: -2px;
  top: 1337px;
}

.safety__img-more {
  width: 362px;
  height: 186px;
  left: -2px;
  top: 1340px;
}

.safety__img-more_Car-crash {
  width: 86px;
  height: 44px;
  left: 206px;
  top: 72px;
}

.safety__img-more_Protection-1 {
  width: 66px;
  height: 98px;
  left: 1px;
  top: 0px;
}

.safety__img-more_Protection-2 {
  width: 65px;
  height: 47px;
  left: 27px;
  top: -70px;
}
}

@media (width: 768px) {

  .wrapper {
    width: 100%;
  }

  .header {
    margin-top: 24px;
    margin-bottom: 181px;
  }

  .menu-models, .menu-shop__item {
    display: none;
  }
  .logo {
    margin-left: 15px;
    width: 166px;
    height: 51px;
    background-size: cover;
  }

  .menu-shop__mobile {
    width: 35px;
    left: 258px;
    top: -2px;
  }

  .menu-shop__mobile::after, .menu-shop__mobile::before {
    width: 35px;
  }

  .main {
  width: 100%;
  height: 755px;
  background-image: url(img/teslatxt.svg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position-x: -17px;
  background-position-y: -8px;
  margin-bottom: 0;
  }

  .main__title {
    margin: 0;
    position: absolute;
    left: 206px;
    top: 174px;
    width: 360px;
    height: 110px;
    display: block;
    background-size: contain;
  }

  .main__text {
    font-family: "montserratregular", arial, helvetica, sans-serif ;
    font-weight: 500;
    font-size: 17px;
    font-style: normal;
    line-height: 18px;
    margin-left: -3px;
    margin-bottom: 87px;
  }

  .main__img {
    width: 695px;
    height: 327px;
    margin-left: 5%;
    margin-bottom: 36px;
  }

  .main__info {
    display: inline-block;
    margin-bottom: 56px;
  }

  .main__info_speed {
    margin-left: 135px;
    margin-bottom: 11px;
    width: 520px;
    height: 100px;
    background-size: contain;
  }

  .main__info_test {
    width: 162px;
    height: 40px;
    background-size: contain;
    top: 61px;
    margin-top: -27px;
    margin-left: 173px;
  }

  .main__info_button {
    width: 220px;
    height: 52px;
    margin-left: 370px;
    margin-right: 0;
  }

  .main__arrow {
    margin-left: 367px;
  }

  .future__logo-models {
    left: 440px;
    top: 1004px;
  }

  .future {
    padding-left: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 550px;
    background-position-x: 0px;
    background-position-y: 45px;
    margin-bottom: 0;
  }
  .future__info {
    padding-bottom: 46px;
  }
  .future__info_title{
    width: 43%;
    padding-left: 35px;
    padding-top: 4px;
  }

  .future__info_description {
    width: 43%;
    padding-left: 36px;
    padding-top: 11px;
    margin-bottom: 73px;
  }

.future__info_display {
  width: 38%;
  position: absolute;
  margin: 0;
  top: 1617px;
  left: 454px;
}

.future__info_wifi {
  width: 38%;
  position: absolute;
  margin: 0;
  top: 1702px;
  left: 451px;
}

.future__info_bag {
  width: 38%;
  position: absolute;
  margin: 0;
  top: 1794px;
  left: 454px;
}

.future__info_more {
  padding-left: 176px;
  font-size: 16px;
}

.future__info_more::after {
  width: 23px;
  height: 23px;
  left: -188px;
  top: 1px;
}

.future__info_more::before {
  width: 25px;
  height: 25px;
  left: -20px;
  top: 10px;
}

.future__info_order {
  width: 216px;
  height: 51px;
  font-size: 17px;
  vertical-align: middle;
  line-height: 50px;
}

 .safety__info_result {
   display: none;
 }

  .safety {
    background-size: 77%;
    background-position-x: 96px;
    background-position-y: 69px;
    padding-top: 538px;
    padding-right: 0;
  }

  .safety__info {
    padding-bottom: 62px;
  }

  .safety__info_title {
    width: 42%;
    padding-top: 15px;
    padding-left: 33px;
    margin: 0;
  }

  .safety__info_description {
    width: 42%;
    padding-left: 33px;
    padding-top: 12px;
    padding-bottom: 73px;
    font-size: 17px;
    margin-bottom: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .safety__img {
    width: 760px;
    height: 400px;
    left: -22px;
    top: 2159px;
  }

  .safety__img-more {
    width: 760px;
    height: 440px;
    left: -22px;
    top: 2159px;
  }

  .safety__img-more_Car-crash {
    width: 189px;
    height: 84px;
    left: 435px;
    top: 146px;
  }

  .safety__img-more_Protection-1 {
    width: 136px;
    height: 203px;
    left: 2px;
    top: 1px;
  }

  .safety__img-more_Protection-2 {
    width: 135px;
    height: 98px;
    left: 61px;
    top: -139px;
  }

.safety__info_protection-title {
  width: 43%;
  position: absolute;
  top: 2618px;
  left: 364px;
}

.safety__info_protection-front {
  width: 42%;
  position: absolute;
  top: 2710px;
  left: 421px;
}

.safety__info_protection-side {
  width: 42%;
  position: absolute;
  top: 2747px;
  left: 421px;
}

.safety__info_protection-side-rack {
  width: 42%;
  position: absolute;
  font-size: 17px;
  top: 2768px;
  left: 366px;
  margin-top: 17px;
  margin-bottom: 1px;
}

.safety__info_protection-driver {
  width: 42%;
  position: absolute;
  top: 2822px;
  left: 421px;
}

.safety__info_protection-passenger {
  width: 42%;
  position: absolute;
  top: 2858px;
  left: 421px;
}

.safety__info_more {
  padding-left: 176px;
  font-size: 16px;
}

.safety__info_more::after {
  width: 23px;
  height: 23px;
  left: -188px;
  top: 1px;
}

.safety__info_more::before {
  width: 25px;
  height: 25px;
  left: -20px;
  top: 10px;
}

.safety__info__order {
  width: 216px;
  height: 51px;
  font-size: 17px;
  vertical-align: middle;
  line-height: 50px;
}

}
