body {
  margin: 0;
}

.wrapper {
  width: 100%;
}

.header {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 58px;
}

.logo {
  margin-left: 40px;
  width: 166px;
  height: 51px;
  background-image: url(img/Logo.svg);
  margin-right: 43px;
}

.menu__models {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.menu__models_item {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  margin-right: 45px;
  padding-top: 20px;
  text-decoration: none;
  color: #000;
}

.menu__models_item_active::after{
  display: block;
  position: relative;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E51937;
}

.menu__models_item_active {
  color: #E51937;
}

.menu__models_item:hover::after {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E51937;
}

.menu__models_item:hover {
  color: #E51937;
}

.menu__shop {
  display: flex;
  justify-content: space-between;
}

.menu__shop_item {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  margin-right: 45px;
  padding-top: 20px;
  text-decoration: none;
  color: #000;
}

.menu__shop_item:hover::after {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E51937;
}

.menu__shop_item:hover {
  color: #E51937;
}

.menu__mobile {
  margin-right: 20px;
  margin-top: 26px;
  position: relative;
  display: block;
  content: "";
  width: 24px;
  height: 3px;
  background-color: #E51937;
  cursor: pointer;
}

.menu__mobile::after {
  position: relative;
  display: block;
  content: "";
  width: 24px;
  height: 3px;
  background-color: #E51937;
  transform: translateY(4px);
}

.menu__mobile::before {
  position: relative;
  display: block;
  content: "";
  width: 24px;
  height: 3px;
  background-color: #E51937;
    transform: translateY(-7px);
}

.main {
  width: 100%;
  height: 620px;
  background-image: url(img/teslatxt.svg);
  background-position: top, center;
  margin-bottom: 200px;
}

.main__title {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 600;
  font-size: 90px;
  font-style: normal;
  line-height: 110px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 59px;
}

.main__text {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  margin-top: 0;
}

.main__img {
  position: relative;
  width: 970px;
  height: 450px;
  margin-left: 14%;
  margin-bottom: 23px;
}

.main__info {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 38px;

}

.main__arrow {
  padding: 10px;
  display: block;
  width: 28px;
  height: 14px;
  background-image: url(img/Vector.svg);
  background-repeat: no-repeat;
  margin-left: 703px;
}

/*.main__arrow::before {
  position: relative;
  content: "";
  transform: rotate(90deg);
  margin: auto;
  width: 28px;
  height: 2px;
  display: block;
  border-radius: 3px;
  top: -14px;
  left: 13px;
  background-color: #E51937;
}*/

.main__info_speed {
  margin-right: 5%;
  display: inline-block;
  width: 380px;
  height: 58px;
  background-image: url(img/speed_km.svg);
  background-repeat: no-repeat;
  margin-right: 100px;
}

.main__info_button {
  display: block;
  width: 160px;
  height: 40px;
  border: 2px solid #E51937;
  text-align: center;
  text-decoration: none;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  line-height: 36px;
  color: #E51937;
  margin-right: 317px;
}

.main__info_test {
  background-image: url(img/test_drive.svg);
  background-repeat: no-repeat;
  position: relative;
  display: block;
  width: 130px;
  height: 22px;
  content: "";
  margin-right: 40px;
  margin-top: 13px;
}

.future {
background-image: url(img/tesla_inside.svg);
padding-left: 1000px;
margin: 0;
/*margin-bottom: 120px;*/
}

.future__logo-models {
  display: block;
  position: absolute;
  width: 288px;
  height: 86px;
  background-image: url(img/ModelSfut.svg);
  background-repeat: no-repeat;
  left: 86px;
  margin-top: 25px;
}

.future__info {
  padding: 0;
  margin: 0;
  background-color: #E51937;
}

.future__info_title {
  margin-top: 0;
  width: 77%;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 600;
  font-size: 33px;
  font-style: normal;
  line-height: 36px;
  margin: auto;
  margin-bottom: 10px;
}

.future__info_description {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  width: 77%;
  margin: auto;
  margin-bottom: 55px;
}

.future__info_display {
  width: 187px;
  height: 65px;
  background-image: url(img/display.svg);
  background-repeat: no-repeat;
  width: 80%;
  margin: auto;
  margin-bottom: 35px;
}

.future__info_wifi {
  width: 269px;
  height: 71px;
  background-image: url(img/wifi.svg);
  background-repeat: no-repeat;
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
}

.future__info_bag {
  width: 202px;
  height: 71px;
  background-image: url(img/bag.svg);
  background-repeat: no-repeat;
  width: 80%;
  margin: auto;
  margin-bottom: 191px;
}

.future__info_more {
  margin-bottom: 63px;
  color: #FFFFFF;
  margin: auto;
  padding-left: 48px;
  margin-right: 23px;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  line-height: 35px;
}

.future__info_more::before {
  position: relative;
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  left: -16px;
  top: 6px;
}

.future__info_more::after {
  text-align: center;
  position: relative;
  display: inline-block;
  content: "i";
  border-radius: 50%;
  left: -181px;
  top: 2px;
  font-size: 21px;
}

.future__info_order {
  display: inline-block;
  width: 160px;
  height:  40px;
  border: 2px solid #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  line-height: 35px;
}

.safety {
  background-image: url(img/ModelS.svg);
  background-repeat: no-repeat;
  padding-right: 1029px;
  margin: 0;
  background-position-x: right;
  background-position-y: 87px;
}

.safety__info {
  margin: 0;
  padding: 0;
  background-color: #E51937;
}

.safety__info_title {
  margin-top: 0;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 600;
  font-size: 31px;
  font-style: normal;
  line-height: 36px;
  width: 73%;
  margin: auto;
  margin-bottom: 12px;
}

.safety__info_description {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  width: 75%;
  margin: auto;
  margin-bottom: 50px;
}

.safety__info_protection_title {
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  line-height: 36px;
  width: 57%;
  margin-left: 57px;
  margin-bottom: 25px;
}
 .info__protection_front, .info__protection_side, .info__protection_side_rack, .info__protection_driver, .info__protection_passenger {
  position: relative;
  display: block;
  margin: auto;
  width: 80%;
  margin-bottom: 16px;

}

.protection__front_one {
  margin-left: 20%;
}

.protection__side_one {
  margin-left: 27%;
}

.protection__side_rack_one {
  margin-left: 4%;
}

.protection__driver_one {
  margin-left: 16%;
}

.fiveth__one {
  margin-left: 14%;
}

.protection__passenger_one {
  margin-left: : 38px;
}

.stars {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(img/Star.svg);
  text-align: center;
  background-repeat: no-repeat;
}

.safety__info_result {
  display: block;
  margin: auto;
  width: 280px;
  height: 92px;
  background-image: url(img/five_stars.svg);
  margin-bottom: 50px;
}

.safety__img {
  position: absolute;
  width: 1049px;
  height: 540px;
  top: 2015px;
  left: 345px;
}

.more-safety {
  position: absolute;
  width: 1049px;
  height: 540px;
  top: 2015px;
  left: 345px;
}

.Car_crash {
  left: 598px;
  top: 218px;
  position: relative;
  width: 250px;
  height: 128px;
}

.Protection_1 {
  left: 10px;
  top: 4px;
  position: relative;
  width: 193px;
  height: 285px;
}

.Protection_2 {
  left: 92px;
  top: -192px;
  position: relative;
  width: 189px;
  height: 137px;
}

.safety__info_more {
  margin-bottom: 63px;
  color: #FFFFFF;
  margin: auto;
  padding-left: 48px;
  margin-right: 23px;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  line-height: 35px;
}

.safety__info_more::before {
  position: relative;
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  left: -16px;
  top: 6px;
}

.safety__info_more::after {
  text-align: center;
  position: relative;
  display: inline-block;
  content: "i";
  border-radius: 50%;
  left: -181px;
  top: 2px;
  font-size: 21px;
}

.safety__info__order {
  display: inline-block;
  width: 160px;
  height:  40px;
  border: 2px solid #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  font-family: "montserratregular", arial, helvetica, sans-serif ;
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  line-height: 35px;
}
